@charset "UTF-8";

footer{
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	background: #222938;
	color: white; 
	clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.container{
	justify-content: center;
}

#escudo{
	height: 50%;
	width: auto;
}