@charset "UTF-8";
footer{
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	background: #222938;
	color: white;
	overflow: hidden;
	height: 30vh;
	bottom: 0;
	right: 0;
	left: 0;
	flex: 0 0 50px;/*or just height:50px;*/
 	 margin-top: auto;
}

footer .container{
	justify-content: center;
	overflow: hidden;
}

footer #escudo{
	height: 30%;
	width: auto;
	margin-right: 15%;
}

footer .col{
	justify-content: center;
}

footer .col-2 {
	text-align: left;
	white-space: nowrap;
}

footer .row{
	justify-content: center;
}

footer .row div:first-child {
	text-align: right;
}