.page-container {
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 30vh;
    overflow: hidden;
}

.navbar {
    color: #ffffff;
}

.div_list-group-item {
    background-color: #43516c;
}

.dropdown-menu {
    background-color: #43516c !important;
    color: #ffffff !important;
}

.dropdown-item {
    color: #ffffff !important;
}
.dropdown-item:hover {
    color: #000000 !important;
}


.dropdown-menu a:hover {
    background: #014464 !important;
    background: linear-gradient(to left, #ebd254, #c4b489);
    background: -moz-linear-gradient(left, #ebd254, #c4b489) !important;
    background: -webkit-gradient(
            linear,
            100% 100%,
            0% 0%,
            from(#ebd254),
            to(#c4b489)
    ) !important;
    color: #f8f9fa !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-link.dropdown-toggle {
    color: #ffffff;
}

a > img {
    border-width: 1px;
    border-color: #ffffff;
}

li > a {
    color: #ffffff;
}

.btn-primary.custom-btn {
    background-color: #dba531;
    border-color: #dba531;
    color: #43516c;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    background-color: transparent;
}

.form-control-underlined:focus {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 0;
    margin: auto;
}

.div-body{
    padding-right: 8vw;
    padding-left: 8vw;
    display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.container{
    justify-content: center;
}

.row{
    justify-content: center;
    padding-bottom: 8vh;
    padding-top: 5vh;
    text-align: center;
}

#monitor-boton{
    width: 200px;
}

.card{
    width: 15vw;
    transition: box-shadow .3s;
}

.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.bodytype {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
  	flex-direction: column;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f3f5f7;
}

.question-listed-metadata {
    font-size: 12px !important;
}

.question-listed-stats button {
    font-size: 13px !important;
}

.answer-description p {
    font-size: 12px;
    font-weight: normal !important;
}

#header {
    border-top: 3px solid Dodgerblue;
    border-bottom: 1px solid #e4e6e8;
}

.left-menu {
    border-right: 1px solid #dee2e6;
}

.content {
    max-width: 600px;
    margin: auto;
}

.btn-group {
    width: 60%;
    margin: 0 auto;
}

.btn-group button {
    border: 1px solid white;
    padding: 10px 45px;
    cursor: pointer;
    float: center;
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.4rem;
    text-anchor: big;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;
}

.div_body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    background-color: #E5E8C7;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

.form-label {
    margin-bottom: 0;
    text-align: left;
    display: block;
    font-size: 18px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="number"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control[readonly] {
    background-color: #43516c !important;
}

.form-control[readonly]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  white;
    opacity: 1; /* Firefox */
}

.form-control[readonly]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  white;
}

.form-control[readonly]::-ms-input-placeholder { /* Microsoft Edge */
    color:  white;
}

.input-group-append .input-group-text {
    background-color: #43516c !important;
    color: white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2ccc' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2ccc' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators li {
    background-color: #666 !important;
}


.input-group-text.border-0 {
    background-color: transparent !important;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
    margin-top: 40%;
}

[type=submit].input-group-text.border-0.selected {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAuMDQxIDE3bC00LjUtNC4zMTkgMS4zOTUtMS40MzUgMy4wOCAyLjkzNyA3LjAyMS03LjE4MyAxLjQyMiAxLjQwOS04LjQxOCA4LjU5MXptLTUuMDQxLTE1Yy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiLz48L3N2Zz4=");
}

[type=submit].input-group-text.border-0.select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAyYy0xLjY1NCAwLTMgMS4zNDYtMyAzdjE0YzAgMS42NTQgMS4zNDYgMyAzIDNoMTRjMS42NTQgMCAzLTEuMzQ2IDMtM3YtMTRjMC0xLjY1NC0xLjM0Ni0zLTMtM2gtMTR6bTE5IDN2MTRjMCAyLjc2MS0yLjIzOCA1LTUgNWgtMTRjLTIuNzYyIDAtNS0yLjIzOS01LTV2LTE0YzAtMi43NjEgMi4yMzgtNSA1LTVoMTRjMi43NjIgMCA1IDIuMjM5IDUgNXoiLz48L3N2Zz4=");
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white !important;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.carousel-inner input[type=submit] {
    color: black !important;
}

